.welcome-message,
#header > .role,
.biopic,
#topContacts,
#skills-h3,
#skills,
#header hr {
  display: none;
}

#header {
  display: flex;
  align-items: center;
}

#header > .name,
#header > #personal-contact,
#header > #professional-contact,
#print-skills {
  display: block;
}

#header > #personal-contact {
  width: 25%;
}

#header > .name {
  width: 50%;
  text-align: center;
}

#header > #professional-contact {
  width: 25%;
}

#header > #professional-contact a {
  margin: 0;
}

#header {
  margin: 0;
  padding: 0;
  background-color: white;
  border-bottom: 1px solid;
}

.flex-box {
  justify-content: flex-start;
}

.flex-item .orange-text {
  display: none;
}

.white-text {
  color: black;
  font-weight: normal;
}

.flex-column {
  margin-left: 2em;
}

h2 {
  padding: 0;
}
